* { 
    margin: 0;
    padding: 0; 
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 6px;
    box-shadow: inset 0 0 5px #808080;
}
  ::-webkit-scrollbar-thumb {
    background: #a9a9a9; 
    border-radius: 10px;
}
:root {
    --margin: 150px;
}
html {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}
body {
    background-color: #f8f9fc;
    box-sizing: border-box;
    color: #181820;
    display: flex;
    flex-direction: column;
    height: 100vh;
}