header {
    animation:animatetop 0.6s;
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}
@keyframes animatetop {
    from {
        opacity:0;
        top:-300px;
    } 
    to {
        opacity:1;
        top:0;
    }
}
.menu-holder {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: var(--margin);
    padding: 8px 0;
    width: calc(100% - var(--margin) * 2);
}
.menu-holder span {
    display: block;
    font-size: 1.5rem;
    text-align: center;
}
.menu-holder a {
    color: #bfc8d2;
    padding: 0 16px;
    text-decoration: none;
}
.menu-holder a:hover {
    color: #9fa6b1;
}
.logo {
    display: inline-block;
    width: 115px;
}
.avatar {
    align-items: center;
    background-color: #f8991c;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 40px;
}
.avatar:hover {
    background-color: #fb7f00;
}
.avatar input {
    display: block;
    height: 40px;
    opacity: 0;
    position: absolute;
    width: 40px;
    z-index: 2;
    -webkit-touch-callout: none;
}
.user-menu {
    background: #fff;
    box-shadow: 0 0 8px 0 #252525, 0 0 16px 0 #494949;
    list-style-type: none;
    margin : 4px 0;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translate(0, -1000%);
    transform-origin: 0% 0%;
    width: 200px;
    -webkit-font-smoothing: antialiased; 
}
.user-menu .head {
    border-bottom: 2px solid #9fa6b1;
    color: #9fa6b1;
    font-size: 0.9em;
    padding-bottom: 0.5em;
}
.user-menu a {
    color: #181820;
    display: block;
    margin: 8px;
    text-decoration: none;
    width : calc(100% - 16);
}
.user-menu a:hover {
    background-color: #bfc8d2;
    color: #181820;
}
.avatar input:checked ~ .user-menu
{
  transform: none;
}