.content {
    display: flex;
    flex: 1 0 auto;
    margin-left: var(--margin);
    padding-top: 60px;
    width: calc(100% - var(--margin) * 2);
}
.card {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.card-content {
    overflow-y: auto;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card p {
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
    vertical-align: top;
}
.card-cover {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.rotate {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    width: 100%;
}
.rotate:hover {
    transform: rotateY(180deg);
}
.rotate .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.rotate .back {
    background: #fff;
    text-align: center;
    transform: rotateY(180deg);
}
.container {
    display: grid;
    grid-gap: 0em 0em;
    grid-template-columns: 4fr 4fr 5fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: calc((100vw - var(--margin) * 2) * 0.5);
    margin-top: 30px;
    width: 100%;
}
.bsalogo {
    grid-area: 1 / 1 / 5 / 2;
    overflow: visible;
    perspective: 1000;
    width: 100%;
    -webkit-perspective: 1000; 
}
.bsalogo .rotate .side {
    background-color: #fff;
}
.bsalogo .rotate .back {
    align-items: center;
    background: #fff;
    display: flex;
    justify-content: center;
}
.bsalogo button {
    background-color: #2d99ff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}
.bsalogo button:hover {
    background-color: #0443a3;
}
.qa {
    grid-area: 5 / 1 / 9 / 2;
    overflow: visible;
    perspective: 1000;
    -webkit-perspective: 1000;
}
.qa .rotate .side {
    align-items: center;
    background-color: #52bf77;
    color: #fff;
    display: flex;
    font-size: 4rem;
    justify-content: center;
}
.qa .rotate .back {
    align-items: flex-start; 
    background: #fff;
    color: #181820;
    display: block;
    font-size: 1rem;
}
.java {
    grid-area: 7 / 2 / 9 / 3;
}
.java .card-cover {
    background-color: #e12b4c;
    bottom : 0;
    color: #fff;
    font-size: 2rem;
    right: 0;
    transition : transform 0.5s ease;
    transform-origin : bottom;
}
.java:hover .card-cover {
    transform : scale(0);
}
.js {
    font-weight: bold;
    grid-area: 1 / 2 / 7 / 3;
    overflow: visible;
    perspective: 1000;
    -webkit-perspective: 1000;
}
.js .rotate .side {
    align-items: flex-end;
    background-color: #f7cf69;
    display: flex;
    font-size: 4rem;
    justify-content: flex-end;
}
.js .rotate .back {
    background: #fff;
    display: block;
}
.php {
    background-color: #fff;
    grid-area: 1 / 3 / 4 / 5;
}
.php .card-cover {
    background-color: #8893c0;
    bottom : 0;
    color: #fff;
    font-style: italic;
    font-size: 3rem;
    transition : transform 0.5s ease-in-out;
    transform-origin : top right; 
    right: 0%;
}
.php:hover .card-cover {
    transform : scale(0);
}
.net {
    grid-area: 4 / 3 / 9 / 4;
}
.net .card-cover {
    background-color: #642077;
    bottom : 0;
    color: #fff;
    font-size: 4rem;
    right: 0%;
    transition : transform 0.5s ease-out;
    transform-origin : bottom right;
}
.net:hover .card-cover {
    transform : scale(0);
}
.events {
    background-color: #fff;
    grid-area: 4 / 4 / 6 / 5;
}
.events .card-cover {
    background-color: #2d99ff;
    color: #fff;
    right: 0%;
    text-align: center;
    transition: right 0.5s ease;
}
.events:hover .card-cover {
    right: -100%;
}
.blog {
    grid-area: 6 / 4 / 8 / 5;
}
.blog .card-cover {
    background-color: #0443a3;
    color: #fff;
    right: 0%;
    text-align: center;
    transition: right 0.5s ease;
}
.blog:hover .card-cover {
    right: -100%;
}
.contacts {
    grid-area: 8 / 4 / 9 / 5;
}
.contacts .card-content{
    align-items: center;
    display: flex;
    justify-content: center;
}
.contacts .card-cover {
        background-color: #00265f;
        color: #fff;
        right: 0%;
        text-align: center;
        transition: right 0.5s ease;
}
.contacts:hover .card-cover {
    right: -100%;
}
.contacts a {
    color: #181820;
    font-size: 1.5rem;
    margin: 0.25rem;
    text-decoration: none;
}
.contacts a:hover {
    color: #00265f;
}
@media only screen and (max-width: 970px) {
    :root {
        --margin: 50px;
    }
    .container {
        grid-template-columns: 8fr 1fr 5fr 4fr;
        grid-template-rows: 3fr 3fr 2fr 4fr 4fr;
        height: calc((100vw - var(--margin) * 2 ) * (8 / 9));
        margin-top: 0;
    }
    .bsalogo {
        grid-area: 1 / 1 / 4 / 2;
    }
    .js {
        grid-area: 1 / 2 / 4 / 4;
    }
    .events {
        grid-area: 1 / 4 / 2 / 5;
    }
    .blog {
        grid-area: 2 / 4 / 3 / 5;
    }
    .contacts {
        grid-area: 3 / 4 / 4 / 5;
    }
    .java {
        grid-area: 4 / 1 / 5 / 3;
    }
    .php {
        grid-area: 4 / 3 / 5 / 5;
    }
    .qa {
        grid-area: 5 / 1 / 6 / 3;
    }
    .net {
        grid-area: 5 / 3 / 6 / 5;
    }
}
footer {
    flex-shrink: 0;
    height: 50px;
    margin-top: 1rem;
    text-align: center;
}