.notify-wrapper {
    bottom: 0;
    margin: 8px;
    position: fixed;
    right : 0; 
    z-index: 100;
}
.notify {
    align-items: center;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    display: flex;
    margin-bottom: 8px;
    opacity: 0.95;
    padding: 15px 5px 15px 0;
    width: 175px;
}
.notify-body {
    display: flex;
    flex-direction: column;
}
.notify-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: left;
}
.notify-message {
    display: block;
    font-size: 0.9rem;
    text-align: left;
    word-wrap: break-word;
}
.notify i {
    align-content: center;
    padding: 0 8px;
}
.success {
    background: #6dac6d;
}
.error {
    background: #c3534e;
}
.warning {
    background: #f79b4a;
}